<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ScoreNumber/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ScoreNumber/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{28,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,70}}</string>
                <key>sourceSize</key>
                <string>{28,72}</string>
            </dict>
            <key>ScoreNumber/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>ScoreNumber/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,72},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>ScoreNumber/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>ScoreNumber/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>ScoreNumber/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>ScoreNumber/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,148},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>ScoreNumber/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,76},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,70}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>ScoreNumber/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,150},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>TopNumber/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,58},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>TopNumber/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,170},{18,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,52}}</string>
                <key>sourceSize</key>
                <string>{20,52}</string>
            </dict>
            <key>TopNumber/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,220},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>TopNumber/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,142},{28,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,54}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>TopNumber/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>TopNumber/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,102},{30,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>TopNumber/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,112},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>TopNumber/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,70},{30,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>TopNumber/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{30,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>TopNumber/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,222},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ScoreNumber.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:239d26221fd8cc97c51804e300c52385$</string>
            <key>textureFileName</key>
            <string>ScoreNumber.png</string>
        </dict>
    </dict>
</plist>
